$primary: #3c4ada !default;
$success: #3bb481 !default;
$secondary: #546e7a;
$body-color: #313131;
$info: #00c1fc;
$warning: #ffdc00;
$danger: #ff6726;

$font-family-sans-serif: 'Lato', sans-serif !default;

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import './tailwind.scss';
